body{
    padding: 50x 100px;
    background-image: url("./image/page1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins' , sans-serif;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}
#container{
    text-align: center;
    background-color: #919eff;
    padding: 60px;
    width:50%;
    margin: 120px auto;
    border-radius: 20px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 10px 60px;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}
label{
    font-size: 1.8rem;
    color: rgb(0,0,0);
}
